name: Update Test IDs

on:
  push:
    branches:
      - main
      - master
    paths:
      - 'packages/otterfall/**/*.spec.ts'
      - 'packages/otterfall/**/*.test.ts'

jobs:
  update-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '22'

    - name: Import tests and update IDs
      run: npx check-tests@latest Playwright "packages/otterfall/**/*{.,_}{test,spec}.ts" --update-ids --typescript
      env:
        TESTOMATIO: ${{ secrets.TESTOMATIO }}

    - name: Commit and push changes
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "chore: Update Testomat.io test IDs"
        file_pattern: "packages/otterfall/**/*.ts"
